/*
  1. GENERAL STYLING FOR BASKET WEBPAGE
*/

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.basket-page {
  padding: 40px;
}

.basket-title {
  color: #00ff66;
  margin-bottom: 30px;
}

.basket-container {
  display: flex;
  gap: 40px;
}