/* ----------------------------- */
/* WEBPAGE STYLING */
/* ----------------------------- */





.profile-page{
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

.profile-title{
    font-size: 32px;
    margin-bottom: 30px;
    border-bottom: 3px solid #00ff88;
    display: inline-block;
    padding-bottom: 5px;
}

/* Success message */

.success-message{
    background-color: #00ff88;
    color: black;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* ----------------------------- */
/* FORM STYLING */
/* ----------------------------- */

.profile-page label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.profile-page input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #1a1d24;
    color: white;
}

.profile-page input:focus {
    outline: none;
    border-color: #00ff88;
}


/* Save button */

.save-btn{
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    border: none;
    background-color: #00ff88;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.save-btn:hover{
    background-color: #00cc6a;
}

/* ----------------------------- */
/* ACCOUNT MANAGEMENT */
/* ----------------------------- */

.section-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.section-description{
    font-size: 14px;
    color: #bbb;
    margin-bottom: 20px;
}

.account-action-box{
    border: 1px solid #ff4d4d;
    padding: 20px;
    border-radius: 8px;
    background-color: #1a0f0f;
}

.account-password-box{
    border: 1px solid #333333;
    padding: 20px;
    border-radius: 8px;
    background-color: #16191f;
    margin-bottom: 20px;
}

.account-action-box h3{
    color: #ff4d4d;
    margin-bottom: 10px;
}

.action-text{
    font-size: 14px;
    margin-bottom: 20px;
    color: #ddd;
}

/* Update Password button */

.update-password-btn{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background-color: #00ff88;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.update-password-btn:hover{
    background-color: #00cc6a;
}

/* Delete button */

.delete-btn{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: #cc0000;
}



/* ----------------------------- */
/* MOBILE RESPONSIVE */
/* ----------------------------- */

@media (max-width: 900px){

    .profile-container{
        flex-direction: column;
    }

}

